<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Server</title>
    <link href="index.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
<div class="container">
    <h3>All Students</h3>
    <table>
        <thead>
            <th>ID</th>
            <th>FIO</th>
            <th>COURSE</th>
        </thead>
        <tbody id="students">
        </tbody>
    </table>
</div>
<div class="container">
    <input type="text" id="message" name="message">
    <button id="ping" onclick="getInfo();">Get Student</button>
</div>
<div class="container">
    <div id="studentInfo">
    </div>
    <div id="studentTableInfo"  class="container">
        <table>
            <thead id="disciplinesHead">

            </thead>
            <tbody id="disciplines">
            </tbody>
        </table>
    </div>
</div>
</body>
</html>